 {% form_theme form 'proprio/formThemes/themeProprio.html.twig' %} 

{{ form_start(form) }}
<div class='container border border-dark p-1'>
    <div class='bloc_identite border border-dark p-2'>
        <div class='row'>
            <div class='col-sm-2 py-0 my-1'>
                {{'proprio.nom.label'|trans }}:
            </div> 
            <div  class='col-sm-4 py-0 my-1'>
                {{ form_widget(form.nom ) }}
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-2 py-0 my-1'>
                {{'proprio.prenom.label'|trans }}:
            </div>
            <div class='col-sm-4 py-0 my-1'>
                {{ form_widget(form.prenom ) }}
            </div>
        </div>
    </div>
    <br/>
    <div class="bloc_adresse  border border-dark p-2"> 
    <p><u>Adresse:</u></p>  
        <div class='row'>
           <div class='col-md-2 py-0 my-1'> 
                {{'proprio.numero.label'|trans }}:
            </div> 
            <div class='col-md-1 py-0 my-1'>
                {{ form_widget(form.numero ) }}
            </div>
            <div class='col-md-1 py-0 my-1'>
                {{'proprio.voie.label'|trans }}:
            </div>
            <div class='col-md-5 py-0 my-1'>
                {{ form_widget(form.voie )}}
            </div>
        </div>
        <div class='row row-no-gutters'>
            <div class='col-lg-2 py-0 my-1'>
                {{'proprio.codePostal.label'|trans }}:
            </div>
            <div  class='col-lg-2 py-0 my-0'>
                {{ form_widget(form.codePostal )}}
            </div>
            <div class='col-lg-1 py-0 my-1'>
                {{'proprio.ville.label'|trans }}:
            </div>
            <div class='col-lg-5 py-0 my-1'>
                {{ form_widget(form.ville )}}
            </div>
        </div>
    </div>
    <br/>
    <div class="bloc_contact border border-dark p-2">
        <p><u>Contacts:</u></p>
        <div class='row'>
            <div class='col-2 py-0 my-1'>
                {{'proprio.telPerso.label'|trans }}:
            </div>
            <div  class='col-2 py-0 my-1'>
                {{ form_widget(form.telPerso ) }}
            </div>
        </div>
        <div class='row'>
            <div class='col-2 py-0 my-1'>
                {{'proprio.telPro.label'|trans }}:
            </div>
            <div class='col-2 py-0 my-1'>
                {{ form_widget(form.telPro ) }}
            </div>
        </div>
        <div class='row'>
            <div class='col-2 py-0 my-1'>
                {{'proprio.mail.label'|trans }}:
            </div>
            <div class='col-4 py-0 my-1'>
                {{ form_widget(form.mail ) }}
            </div>
        </div>
    </div>
    <br/>
    <div class='bloc_banque border border-dark p-2'>
        <p><u>Coordonnées bancaires</u></p>
        <div class='row'>
            <div class='col-2 py-0 my-1'>
                {{'proprio.bic.label'|trans }}:
            </div>
            <div  class='col-4 py-0 my-1'>
                {{ form_widget(form.bic ) }}
            </div>
        </div>
        <div class='row'>
            <div class='col-2 py-0 my-1'>
                {{'proprio.iban.label'|trans }}:
            </div>
            <div class='col-4 py-0 my-1'>
                {{ form_widget(form.iban ) }}
            </div>
        </div>
    </div>
</div>
<br/>
<div class='container'>
    <div class='row'>
        <a class='col-sm-1'></a>
        <a class="btn btn-primary offset-1" href="{{ path('app_proprio_index') }}"> {{ 'proprio.action.retour'|trans }} </a>
        <input class='btn btn-primary col-sm-3 offset-1' type='submit' id='{{ action2Value }}' name='{{ action2Value }}' value='{{ action2 }}' />
    </div>

</div>
{{ form_errors(form) }}
{{ form_end(form) }}