{% extends 'base.html.twig' %}


{% block body %}

     {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

    <h1>{{ 'proprio.index_page.title'|trans }}</h1>
    <div class="container">
        <div class="row">
            <ul class="col-6">
                {%  for proprio in proprios %}
                    <li class="row">
                        <span class="col"> {{ proprio.nom }} {{ proprio.prenom }} </span> <a class="col" href="{{ path('app_proprio_show', { id: proprio.id }) }}">  {{'proprio.action.voir'|trans  }}  </a></li>
                {% endfor %}
            </ul>
        </div>
        <br />
        <a class="btn btn-primary" href="{{ path('app_proprio_new') }}">  {{'proprio.action.ajouter'|trans  }}  </a>

    </div>

{% endblock %}
