{% extends 'base.html.twig' %}

{% block title %}


{% endblock %}


{% block bodytitle %}
    <h1>Journal</h1>
  
 {% if journal is defined %} 
    <div id="tdb">
        <ul>
            {% for compte in journal %}  
            <li> {{ compte.compteDebit }}  debit: {{compte.debit}} , 
            {{ compte.compteCredit }}  credit: {{compte.credit}}  </li>

            {% endfor %}
        </ul>
    </div>
{% endif %}

    
<nav class="my-3 navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav">
            <li class="nav-item">
                <a class="btn btn-primary m-2" href="{{ path('app_compta_index') }} ">Historique</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary m-2" href="{{ path('app_compta_new') }} ">Nouvelle entrée</a>
            </li>
        </ul>
</nav>

{% endblock %}


{% block body %}
        {{ include('compta/_histoForm.html.twig', {form:histo_form}) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/journalTdb.js') }}"/>

{% endblock %}